:root {
    --primary: #8F0000;
    --secondary: #4FB0E8;
    --background: #ffffff;
    --text: #000000;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--background);
    color: var(--text);
}

header, footer {
    text-align: center;
    padding: 1rem;
    background: var(--primary);
    color: white;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    padding: 1rem;
}

.weather-title, .data-title {
    padding: 1rem;
    text-align: center;
    position: static;

}

.weather-icon {
    display: block;
    margin: 0 auto;
    max-width: 60px;
}

.data,
.weather {
    margin-top: 1rem;
    background: var(--background);
    padding: 1rem;
    border-top: 1px solid var(--secondary);
    border-radius: 0px;
    
}

@media (min-width: 700px) {
  
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .hero {
    grid-column: 1 / -1;
    position: relative;
    }

    .data,
    .weather {
        position: absolute;
        background: rgba(255, 255, 255, 0.85);
        max-width: 300px;
        border-radius: 8px;
        border-top: none;
    }

    .data{
        top: 20px;
        left: 20px;
    }

    .weather {
        bottom: 20px;
        right: 20px;
    }

    .weather-title,
    .data-title {
        padding: 1rem;
        background: var(--secondary);
        border: 2px solid transparent;
        position: relative;
        left: -1.5rem;
        text-align: left;
    }

    .weather-title::after {
        content: " ⛅";
    }

    .weather-icon {
        display: none;
        margin: 0px;
        max-width: 0px;
    }
}
