@media screen and (min-width: 1024px) {
  .site-main {
    max-width: 90rem;
    margin-inline: auto;
    padding: 2rem
  }

  .nav {
    padding: 0 1rem 1rem 1rem
  }

  .nav .nav-list {
    display: flex;
    flex-direction: row;
    gap: .5rem
  }

  .menu-toggle {
    display: none
  }

  .figure-cap h2 {
    font-size: 1.1rem
  }

  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 3.5rem
  }

  .brand {
    margin-right: 1rem
  }
}