* {
  box-sizing: border-box;
}

:root {
    --primary-color: #1f2937;
    --secondary-color: #374151;
    --background-color: #ffffff;
    --text-color: #111827;
    --text-light: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color)
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1rem;
}

nav {
  display: none;
  flex-direction: column;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  padding: 0.5rem 0;
}

nav a:hover {
  background-color: var(--secondary-color);
}

#menuBtn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

nav.open {
  display: flex;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.gallery img {
    width: 80%;
    height: 80%;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  display: block;

}

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-light)
}
